<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meeting Manager</title>
    <link rel="stylesheet" type="text/css" href="css/css.css">
</head>
<body>
<div>
    <h1 th:text="${message1}">message1</h1>
    <h3 th:text="${message2}">message2</h3>
    <a th:href="${clientAPIBasePath}">Client RESTful Service API</a>
</div>
<footer>
    <p>Developed by:</p>
    <a href="https://danielpm1982.com">danielpm1982.com</a>
    <br>
    <a href="mailto:danielpm1982.com@domainsbyproxy.com">danielpm1982.com@domainsbyproxy.com</a>
</footer>
</body>
